{% load static %}

{% block content %}

<div class="container">

    <div class="row w-100">
        <h1 class="w-100">Login</h1>
    </div>
    <div class="login-box">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success-msg">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if error_msg %}
            <div class="error-msg">
                {{ error_msg }}
            </div>
        {% endif %}
        <div class="login-form">
            <form id="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                    <input type="text" class="form-input form-control mb-2" placeholder="Username" name="username">
                    <input type="password" class="form-input form-control mb-2" placeholder="Password" name="password">
                    <div class="btn-row">
                        <button type="submit" class="btn mb-2">Login</button>
                    </div>
            </form>
        </div>

        <div class="signup">
            <a href="{% url 'signup' %}" class="mb-2">Don't have an account? Sign Up</a>
        </div>
    </div>

</div>


{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{%static 'css/login.css' %}" />
{% endblock %}