{% load static %}

{% block content %}

<div class="container">

    <div class="row w-100">
        <h1 class="w-100">Sign Up</h1>
    </div>
    <div class="login-box">
        {% if error_msg %}
            <div class="error-msg">
                {{ error_msg }}
            </div>
        {% endif %}
        <div class="login-form">
            <form id="login-form" method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                    <input type="text" class="form-input form-control mb-2" placeholder="Username" name="username">
                    <input type="password" class="form-input form-control mb-2" placeholder="Password" name="password">
                    <input type="password" class="form-input form-control mb-2" placeholder="Confirm Password" name="confirm-password">
                    <input type="text" class="form-input form-control mb-2" placeholder="Full Name" name="name">
                    <div class="gender-row">
                        <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" value="male">
                        <label class="gender-radio" for="male">Male</label>
                        <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" value="female">
                        <label class="gender-radio" for="female">Female</label>
                    </div>
                    <div class="btn-row">
                        <button type="submit" class="btn mb-2">Sign Up</button>
                    </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{%static 'css/login.css' %}" />
{% endblock %}
