{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">Profile</h2>
        <div class="profile-page">
                <div class="profile-header">
                    <div class="profile-image">
                        <label for="file-input">
                            <img src="{{profile.image}}" alt="Profile Image" id="profile-img">
                        </label>
                    </div>
                </div>
                <div class="profile-details">
                    <div class="profile-category">
                        <h3>Information</h3>
                        <div class="profile-field" id="name">
                            <h2>Name</h2>
                            <input type="text" name="name" value="{{ profile.name }}" readonly>
                        </div>
                        <div class="profile-field" id="email">
                            <h2>Email</h2>
                            <input type="email" name="email" value="{{ user.email }}" readonly>
                        </div>
                        <div class="profile-field" id="phone">
                            <h2>Phone</h2>
                            <input type="text" name="phone" value="{{ profile.phone }}" readonly>
                        </div>
                        <div class="profile-field" id="introduction">
                            <h2>Introduction</h2>
                            <textarea name="intro" readonly>{{ profile.intro }}</textarea>
                        </div>
                        <div class="checkbox-field" id="looking">
                            <input class="form-check-input" type="checkbox" name="looking" id="roomate-check" disabled checked>
                            <label class="form-check-label" for="roomate-check">
                                Looking for a roommate
                            </label>
                        </div>
                    </div>
                </div>
        </div>
    </div>  
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
