{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block hero %}{% endblock %}

    <div>
        {% if listing %}
            <div class="image-row">
                <img src={{listing.photo_1}} alt="Example Image">
                <img src={{listing.photo_2}} alt="Example Image">
            </div>
            <div class="details-row mt-3">
                <div class="info-block">
                    <p>{{listing.description}}</p>
                </div>
                <div class='right-block'>
                    <div class="info-col">
                        <div class="icon-val">
                            <div class="icon-col">
                                <i class="fa-solid fa-ruler-combined"></i>
                                <i class="fa-solid fa-dollar-sign"></i>
                                <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="data-col">
                                <p>{{listing.sqFeet}} Sq. Feet</p>
                                <p>{{listing.price}}</p>
                                <p>{{listing.home_type}}</p>
                            </div>
                        </div>
                        <a href="{% url 'checkout' listing.id %}" class="btn btn-secondary book-btn">Book</a>
                    </div>
                    <div class="map">
                        {{ map_html|safe }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{%static 'css/listing_details.css' %}" />
{% endblock %}