{% extends 'base.html' %}
{% block content %}

<div class="m-3">

    <h1>POC Landing page</h1>

    <div class="search-form">
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            
            <!-- Location Field -->
            <div class="form-group mb-4">
                <label>Location: </label>
                <input type="text" class="form-control" name="location">
            </div>

            <!-- Mile Radius Field -->
            <div class="form-group">
                <label>Mile Radius: </label>
                <input type="text" class="form-control" name="mile-radius">
            </div>

            <!-- Buttons Container -->
            <div class="mt-2 mb-4">
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
    </div>

    {% if latitude and longitude %}
        <p>Latitude: {{latitude}}</p>
        <p>Longitude: {{longitude}}</p>
    {% endif %}

    {% if listings %}
        {% for listing in listings %}

            <div class="card w-100" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{listing.description}}</h5>
                <p class="card-text">Latitude: {{listing.latitude}}   Longitude: {{listing.longitude}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        {% endfor %}
    {% endif %}
</div>

{% endblock %}