a {
    text-decoration: none;
  }

  .image-row img {
    flex: 1;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: 2px solid #ff8c00 !important;
    border-radius: 10px; 
    margin-bottom: 1rem;
}

.listings{
    grid-auto-rows: 450px;
}

.listing{
    height:100%;
}

@media (max-width: 768px) {
  .listings { 
    grid-auto-rows: 500px;
  }
}