.main-section{
    display: flex;
}

.image-section{
    margin: 0rem 5rem 5rem 5rem;
    filter: brightness(0.7);
    object-fit: cover;
}

.main-section p{
    font-size:larger;
}

.answer-radio{
    border: 2px solid white;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: 5px;
    text-align: center;
}

.answer-radio:hover{
    border: 2px solid var(--btn-hover);
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--btn-hover);
}

input[type="radio"]:checked+label {
    background-color: var(--btn-hover);
}

.radio-buttons{
    display: flex;
    justify-content: space-between;
}