{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/add_listing.css' %}" />
{% endblock %}

{% block hero %}{% endblock %}
{% block reviews %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About Us</h1>
    <p>Welcome to UniVerse! We are dedicated to helping you find your next home and connect with roommates.</p>
    <!-- Add more content about your team or mission here -->
</div>
{% endblock %}